[2014-10-31 09:19] xantares opened #5 "continuous integration"
hi,

could you add some integration testing using travis ?
http://docs.travis-ci.com/user/getting-started/

this way we'd know when stuff are broken, at least verify that it builds and install, please.

here's an example of travis config for another project which uses cmake:
https://github.com/xantares/ev3/blob/master/.travis.yml

[2014-11-03 13:14] #5 closed, assigned to nobody

[2015-01-06 22:50] J5lx opened #10 "Git version exits with SIGABRT right after launch on x86_64 Arch Linux"
When I just tried to run the git version of GlPortal on Arch Linux, I got this output:

[code]

I installed GlPortal using this PKGBUILD which I put together myself: <https://aur.archlinux.org/packages/gl/glportal-git/PKGBUILD>. Compared with the instructions in COMPILE.org it uses out-of-source builds and a custom install prefix.

You can find the core dump dumped using `coredumpctl dump` at <htt

[2015-01-26 20:35] matthewharvey opened #11 "Documentation -datadir issue"
In COMPILE.org, the executable is run as
./source/glportal --datadir ../data
But when looking in the source/engine/env/Environment.cpp at line 24, it is clearly looking for -datadir, with only one hyphen.

[2015-01-26 21:00] hhirsch commented on #11
Done. Thanks for reporting.

[2015-01-26 21:00] #11 closed

[2015-01-26 22:50] hhirsch commented on #10
@J5lx can you check if this commit fixes the out of range error you got?

[2015-01-26 22:50] #10 closed

[2015-01-29 20:15] J5lx commented on #10
No, unfortunately it doesn't :/

Output:

[code]

Dump: <http://ge.tt/8HgKyV92/v/0>

[2015-07-01 13:11] J5lx commented on #10
I just ran an updated build of the game and now the issue is gone.

[2015-07-01 17:10] hhirsch commented on #10
@J5lx Thank you for reporting.

[2015-08-12 18:52] xantares opened #26 "useless FindLibxml2.cmake"
this module has been available in cmake since forever, please remove it

[2015-08-12 18:55] hhirsch commented on #26
We'll do it.

[2015-08-12 19:10] hhirsch commented on #26
Thank you for reporting and the pull request.

[2015-08-12 19:10] #26 closed

[2015-10-19 15:22] amiruqdah opened #34 "Incorrect File Paths for Building on Windows"
After growing increasingly frustrated with not being able to build from source on Windows I decided to take a look at the cmake [folder](/GlPortal/glPortal/tree/master/cmake) and found that it was **not** setup to look for dependencies on Windows machines correctly. If you look at any of the files, you can already see that the FIND and INCLUDE path's are set up relative to the folder structure of

[2015-10-19 16:04] SGOrava commented on #34
OK, i will try to try to compile it under Win XP in VirtualBox... i don't understand where is the problem...

[2015-10-19 16:12] hhirsch commented on #34
@amiruqdah Thank you. Julian did builds on VS his handle is @JulianThijssen .

[2015-10-19 17:09] amiruqdah commented on #34
@SGOrava If you get it working, let me know!

[2015-10-24 10:10] nifker opened #35 "cmake can't find libxml2"
I have installed libxml with "# pacman -Syu libxml" and installed the version 2.6

log is the following: http://pastebin.com/0hgL2qJp

[2015-10-24 10:28] hhirsch commented on #35
@nifker Hello. The game uses libxml2. https://www.archlinux.org/packages/?q=libxml2

[2015-10-24 11:25] SGOrava commented on #35
is it really libxml2 or it is tinyxml2 ??

GlPortal depends on TinyXML2
install `tinyxml2` from AUR
https://aur.archlinux.org/packages/tinyxml2/

[2015-10-24 11:47] hhirsch commented on #35
@SGOrava Yep, you are right. @nifker

[2015-10-25 09:42] nifker commented on #35
pacman says I already installed it: https://www.parabola.nu/packages/extra/x86_64/libxml2/

[2015-10-25 09:43] nifker commented on #35
https://www.parabola.nu/packages/?sort=&q=tinyxml2&maintainer=&flagged=

[2015-10-25 10:24] nifker commented on #35
Now I got this cmake error:
CMake Error at CMakeLists.txt:42 (add_subdirectory):
  The source directory

    /home/user/Desktop/Compiling/glPortal/data

  does not contain a CMakeLists.txt file.

[2015-10-25 10:31] hhirsch commented on #35
@nifker Are you even following https://github.com/GlPortal/glPortal/blob/master/COMPILE.md ?
You don't seem to have initialized or updated the submodules.

[2015-10-25 10:33] nifker commented on #35
Oh forgot that thanks.

[2015-10-25 10:33] #35 closed

[2015-11-07 19:57] hhirsch commented on #34
The code is cross platform. Go ahead and compile it on windows. We love to accept PRs with visual studio project files or cross platform cmakelist files. We will support any serious effort to compile the game on windows with all the support we can give. I am also very actively looking for a windows maintainer. I am making this my personal responsibility.

[2015-11-07 21:49] hhirsch commented on #34
You can find an experimental binary here https://github.com/SGOrava/sgorava.github.io/tree/master/data

[2015-11-07 22:35] SGOrava commented on #34
@amiruqdah Hello, i was able to compile GlPortal for windows with mingw-w64 under linux, it is easy.

I will wrote something how i built it...

[2015-11-08 07:44] hhirsch commented on #34
I remember using this and crashing into a wall https://cmake.org/Wiki/CmakeMingw

[2015-11-08 09:44] SGOrava commented on #34
@hhirsch i used "mingw-cmake" from AUR, i did not have to set anything...

[2015-11-13 05:56] hhirsch commented on #34
Closed due to lack of interest of the OP. Re-open if any new questions arise.

[2015-11-13 05:56] #34 closed

[2016-10-16 01:02] Sakerdot opened #49 "Method jump() of KinematicCharacterController class is outdated (bullet 2.85-1)"
Basically this jump method is overriding btKineticCharacterController one which has changed in version 2.85-1 (https://github.com/bulletphysics/bullet3/commit/626a913866158e5956cfa2ae7f5f6350e99d783e), making the compiler complain and giving an error.

[2016-10-16 05:16] Clever-Boy opened #50 "Unable to get past Open Version required minimum is 3.0"
Compiling this code on Ubuntu linux using HD Intel Graphics 5000.  The OpenGL version is 3.3 but  when make run is executed, OpenGL version is always 0.0

V          Window  OpenGL 0.0
E          Window  OpenGL Version 0.0 is unsupported, required minimum is 3.0

Open GL Version currently on the system.

 glxinfo | grep "version"
server glx version string: 1.4
client glx version string: 1.4
GLX ve

[2016-10-16 07:35] Geertiebear commented on #50
Which branch are you using? We request a 3.0 OpenGL context on the master branch, but we changed it a while ago on RadixEngine.

[2016-10-16 15:39] SGOrava commented on #50
this is strange...
We are using libEpoxy to provide these OpenGL things...
Main problem can be that it dont know your HW or that it detected that your HW is not supported.
Maybe you have some error in your drivers... or so thats what i found on the internet...

[2016-10-16 17:42] hhirsch commented on #49
@Sakerdot We are currently using Bullet 2.83.

[2016-10-16 17:42] hhirsch commented on #49
@Sakerdot Re-Open if this is still an issue for some reason.

[2016-10-17 12:18] Clever-Boy commented on #50
The drivers have been installed and I ran glxgears to test if it works.. and it does. I am not sure why it is always returning 0. I will have to test it on some other system. I cloned the Master branch. The RadixEngine branch I will have to dig into why the CMake is failing.

Could not find a package configuration file provided by "CXX14" with any of
  the following names:

    CXX14Config.cmake

[2016-10-17 14:05] SGOrava commented on #50
OK

RadixEngine branch is failing because you did not updated submodules after switching branches
Try to run
[code]

[2016-10-18 09:44] Geertiebear commented on #49
Bullet updated recently, that's propbably why it's breaking. @Sakerdot what distro are you on?

[2016-10-18 11:33] Clever-Boy commented on #50
Thanks. It has moved ahead that error but got another error. I am not that good with CMake. Tried to investigate this error - The following REQUIRED packages have not been found *RadixEngine.

Checked the entry in CMAKE and it says :
list(APPEND CMAKE_MODULE_PATH ${CMAKE_CURRENT_SOURCE_DIR}/external/RadixEngine/cmake)

CMAKE_CURRENT_SOURCE_DIR is the directory where the CMakelists file is. I belie

[2016-10-18 11:47] SGOrava commented on #50
Can you send us cmake output / messages ?
CMkae is telling you that it was not able to find RadixEngine even when it found it.
Easiest check is to check for modules / libs json11, vhacd, serine
These libs are used i think only in RadixEngine.

[2016-10-18 12:04] Clever-Boy commented on #50
Please find attached..
[CMakeError.txt](https://github.com/GlPortal/glPortal/files/536123/CMakeError.txt

Thanks.

[2016-10-18 12:12] SGOrava commented on #50
From my point of view it looks like you did not init / update submodules in RadixEngine repository

[2016-10-18 12:27] Clever-Boy commented on #50
Ok.  I did  git submodule update --init --recursive and ran cmake again. It did build all the files but reported that RadixEngine has not been found. I ran make and it failed for missing FreeImage.h which i will check later.

- The following REQUIRED packages have not been found:

 * RadixEngine

-- Configuring done
-- Generating done
-- Build files have been written to: /home/cleverboy/Projects/g

[2016-10-18 12:31] Clever-Boy commented on #50
[CMakeError.txt](https://github.com/GlPortal/glPortal/files/536192/CMakeError.txt)

[2016-10-18 12:35] SGOrava commented on #50
OK, the last error is about missing freeimageplus library.
Try to install `libfreeimageplus-dev` package

[2016-10-18 12:36] Geertiebear commented on #50
You will always get the RadixEngine error, if you check out the travis logs you will see you get the error. As @SGOrava said, it is failing because you don't have FreeImage installed (properly)

[2016-10-18 12:51] Clever-Boy commented on #50
I am almost there. Installed the free Image Plus library. Close to getting it compiled at 67%
There is a error in Player. cpp while the Controller is getting created. Will investigate it. Incase you have a quick suggestion. Do let me know. You have been a great help... :+1:

/home/cleverboy/Projects/glPortal/external/RadixEngine/source/component/Player.cpp: In constructor ‘radix::Player::Player(ra

[2016-10-18 12:56] SGOrava commented on #50
OK, the last error is becuase the library bullet was updated recently and they made changes which are incompatible with older versions.

Check issue: https://github.com/GlPortal/glPortal/issues/49

[2016-10-18 13:02] Clever-Boy commented on #50
Excellent thanks... I will go back to Bullet version 2.83 and try again. Will close this issue once I compile and run the code. Thanks again. :100:

[2016-10-20 04:55] Clever-Boy commented on #50
Thanks you for all the help extended.  @SGOrava and @Geertiebear.  OpenGL as you rightly said was not able to detect my card. However, I was able to compile my code successfully and happy with it.

[2016-10-20 04:55] #50 closed

[2016-10-21 23:06] SGOrava commented on #49
Now we can compile engine with Bullet v2.85..
But this should be done more properly in order to use new features.

[2016-12-19 07:24] hhirsch commented on #49
@SGOrava We can close this issue now, right?

[2016-12-19 09:29] SGOrava commented on #49
OK

[2016-12-19 09:29] #49 closed

[2016-12-20 18:30] hhirsch commented on #49
@Sakerdot You can compile the current client with the newest bullet version. Let us know if you need assistance.

[2017-01-27 04:58] generaldave opened #52 "Many errors on cmake .."
I run "cmake .." in the build folder. Everything seems to work fine up to that point. I also ran update and upgrade before starting.

First is CMake Error at CMakeLists.txt:26 (add_dependencies): Cannot add target-level dependencies to non-existent target "glportal".

Second is that gwen directory does not contain CMakeLists.txt.

Third is that vhacd-lib does not contain CMakeLists.txt.

Forth is

[2017-01-27 07:17] hhirsch commented on #52
Check out the submodules recursively and then first go into the external/RadixEngine and get its submodules and compile it.

[2017-01-27 07:56] hhirsch commented on #52
git submodule init
git submodule update

[2017-01-27 09:14] SGOrava commented on #52
git submodule update --init --recursive

[2017-01-27 11:33] Geertiebear commented on #52
We should update COMPILE.md for this.

[2017-01-27 11:45] hhirsch commented on #52
Agreed. I was about to tell him "This is in COMPILE.md" but then checked it first and was like "wtf".

[2017-01-29 22:16] generaldave commented on #52
I have done this:

git submodule init
git submodule update

as well as recursively.

I will try again now that the git submodule command has been changed.

[2017-01-30 08:44] Geertiebear commented on #52
Can you make and run a simple CMakeLists.txt like this:

`cmake_minimum_required (VERSION 2.8.7)
find_package(Threads)` ? And can you give me the output of this?

[2017-01-30 13:33] willysr opened #53 "glPortal will not build against bullet 2.86"
Hi

i tested glPortal against bullet 2.86 and it will not build with this error message:

[code]

[2017-01-30 15:15] generaldave commented on #52
Sure can.

![cmake](https://cloud.githubusercontent.com/assets/7481680/22428426/efb1327e-e6d4-11e6-8290-6d1cf334cc66.png)

[2017-01-30 15:28] SGOrava commented on #52
Do you have installed `pthread` ?
Package name should be something like `libpthread-dev` .

[2017-01-30 15:37] generaldave commented on #52
libpthread-dev doesn't exist.

libpthread-stubs0-dev already installed.

![pthread](https://cloud.githubusercontent.com/assets/7481680/22429247/00ffd618-e6d8-11e6-9dba-71986042308a.png)

[2017-01-30 16:33] Geertiebear commented on #52
Do you have `libc6-dev` installed?

[2017-01-30 16:35] generaldave commented on #52
sudo apt-get install libc6-dev says "is already the newest version (2.23-0ubuntu5)."

[2017-01-30 16:55] hhirsch commented on #53
Thank you for reporting. @SGOrava Same message that our Mac build fails with.

[2017-01-30 17:44] Geertiebear commented on #52
This may sound weird but, what version of bullet do you have installed?

[2017-01-30 17:48] generaldave commented on #52
sudo apt-get install libbullet-dev says "already the newest version (2.83.6+dfsg-3)"

[2017-01-30 18:22] Geertiebear commented on #52
Aha, I see, at the moment glportal requires bullet 2.85. However, I can change it so that we can support both versions, I'll do it tommorow maybe.

[2017-01-30 18:24] generaldave commented on #52
Ok, so apparently Ubuntu 16.04 does not support bullet 2.85 being it's telling me that 2.83 is the newest version

[2017-02-01 13:13] hhirsch commented on #52
@generaldave Usually you should be prepared to use very new versions of libraries. I used to use debian stable but had to switch to manjaro linux for the same reason. However Geerts commit should have fixed the problem for you. But be prepared that we'll prefer a newer version of a library over an older one.

[2017-02-02 14:03] Flix01 opened #54 "[CMake] The following REQUIRED packages have not been found: *RadixEngine"
Hi everybody!

I'm on Ubuntu 16.04 LTS (64bit).

To try to fix the issue described in the title I've done the following:
[code]
The result is:
[code]
Where should I put libRadixEngine.a to make cmake find it ?

[2017-02-02 14:38] hhirsch commented on #54
@Flix01 Are you following COMPILE.md? Did you try: cd external/RadixEngine;  cmake ./; make;

[2017-02-02 14:42] hhirsch commented on #54
@Flix01 I usually run: "cmake ./; make run;" in the project root. I am not sure if this will make any difference but can you try it (for radix, too "cmake ./; make;")?

[2017-02-02 15:23] Flix01 commented on #54
@hhirsch Thanks! it worked :smiley: !
It turns out that the cmake message:
[code]
always appears, but it's harmless.

I've rebuilt all following your guidelines:
* (for radix, too "cmake ./; make;")
* for glPortal "cmake ./; make run;"

and it worked, but probably it would have worked following the COMPILE.md files as well (by creating "build" folders).

The odd thing is only the cmake wrong massa

[2017-02-02 15:28] #54 closed

[2017-02-02 15:51] hhirsch commented on #52
@generaldave Please reopen if this problem persists.

[2017-02-02 15:51] #52 closed

[2017-02-02 15:53] hhirsch commented on #53
@willysr The Version we are using is 2.85. cmake did not complain?

[2017-02-02 18:43] SGOrava commented on #53
@hhirsch We are checking if the version is 2.85 or higher.

[2017-02-02 20:51] willysr commented on #53
@hhirsch : i was the maintainer of bullet in SlackBuilds project and i bumped to 2.86 before i realize that glPortal does not work with 2.86, thus i reported this upstream.

I can postpone the update for bullet though if glPortal needs time to test for 2.86 compatibility.

[2017-02-03 11:15] hhirsch commented on #53
@willysr You'll find a playable version of GlPortal on the stable branch. It does require bullet < 2.85 iirc.
Current master is not playable.

As we like to keep GlPortal Libraries up to date we will switch to 2.86 asap.

[2017-02-03 15:59] willysr commented on #53
I'm pending the bullet update for now.
Ping me when glPortal already support bullet 2.86.

Thanks

[2017-02-04 05:40] hhirsch opened #55 "Add Portals"

[2017-02-04 05:43] hhirsch opened #56 "Add teleportation"
~~Add linked teleportation entities to the game.~~
According to specification https://github.com/GlPortal/specification/blob/master/formats/map/triggers.md

- [x] Add rotation to teleport destination
- [x] Add conversion of speed vector to teleports

[2017-02-04 06:00] hhirsch commented on #53
@willysr Thank you for your feedback. If there is something more we can do, please let us know.

[2017-02-04 06:05] willysr commented on #53
Shouldn't this bug left open so that it can be a reminder for Developers?

[2017-02-04 06:05] hhirsch commented on #5
We are using docker containers in travis now. This way we don't depend on their outdated environment.

[2017-02-04 07:05] hhirsch commented on #53
@willysr We'll be reminded automatically when our distribution catches up with the newest bullet development so having this issue will not make a difference to when we are going to fix it.

However I can clearly see that you are very interested in how we progress in our bullet integration so I will reopen it that you will stay up-to-date on the issue. Thank you again for engaging with us.

[2017-02-20 11:48] acterhd opened #57 ""constexpr" errors with MSVC 2015...."
In general, I can say that MSVC cannot compile these source with `constexpr` returns. By idea should be return if this value are const (for example function passing). But... Compiler disagree.

<details>

[code]

</details>

Fixed log.

[2017-02-20 14:54] ElementW commented on #57
Visual Studio is not supported and won't be until MS implements the required features.

As of VS 2015, C++14 extended `constexpr`, which is a required feature, [is not supported by MSVC](https://msdn.microsoft.com/en-us/library/hh567368.aspx).

[2017-02-20 15:21] hhirsch commented on #57
@ElementW AFAIK Julian compiled Radix on vs beta yesterday. He used the vs branch. cc @JulianThijssen

[2017-02-20 16:06] JulianThijssen commented on #57
Yes it compiles properly on VS 17 RC, they implemented extended constexpr support.

[2017-02-21 04:36] acterhd commented on #57
Okay... I will porting my ray tracer to MSVC to 2017....

[2017-02-21 08:38] acterhd commented on #57
I found cmake generation errors.

[code]

[2017-02-24 18:24] hhirsch opened #62 "Add Build instructions for visual studio in COMPILE.md"

[2017-02-24 19:31] hhirsch commented on #57
vs 15 is not supported if there is still a legitimate problem that is not addressed in the vs branch please re-open this issue.

[2017-02-24 19:31] #57 closed

[2017-02-24 23:20] ElementW commented on #57
@acterhd What's in CMakeOutput.log/CMakeError.log by the way ? I wonder what tested C++14 feature VS15 doesn't support.

[2017-02-26 05:52] hhirsch opened #63 "Switch to catch testing framework"
https://github.com/philsquared/Catch

[2017-03-02 06:02] willysr commented on #53
Thanks, i will try to find some time to test this tree

[2017-03-02 17:24] willysr commented on #53
confirmed to be working
once those branch has been merged to master, you can close this issue.

Thanks

[2017-03-03 20:02] hhirsch commented on #62
@JulianThijssen People are still very confused on how to compile in VS.

[2017-03-03 20:05] #63 closed

[2017-03-05 18:06] hhirsch commented on #56
This can basically done as a copy and paste of what we have on stable branch.

[2017-03-10 19:29] hhirsch opened #65 "Add portal renderer"

[2017-03-10 21:14] #62 closed

[2017-03-13 20:00] hhirsch opened #66 "Add 2 new maps"
Add 2 new maps to the game using the [map-editor](GlPortal/map-editor)

[2017-03-13 20:02] hhirsch opened #67 "Test and fix install target"

[2017-03-13 20:03] hhirsch opened #68 "Add gamepad support"
Create support for gamepads (like XBox 360 or PlayStation ones) as an alternative input method.

[2017-03-13 20:06] hhirsch commented on #68
glportal/radixengine#33

[2017-03-14 06:22] hhirsch opened #69 "Establish VS 2017 cmake workflow"
Find out if this workflow will work with glportal and radix
https://blogs.msdn.microsoft.com/vcblog/2016/12/20/cmake-support-in-visual-studio-2017-whats-new-in-the-rc-update/
and document it in COMPILE.md

[2017-03-14 08:57] Geertiebear commented on #56
Isn't this already done with the teleport trigger? Or do we still need to add more stuff?

[2017-03-14 09:56] SGOrava commented on #56
When you adding links to specification, add direct link to the right part :)

[2017-03-14 16:26] hhirsch commented on #56
@Geertiebear I added two checklist items to my original comment. Consider the test case of destination above the portal. When you go through the portal you fall a bit and then get teleported above it again.

What I suspect will happen with the current trigger implementation is that the speed vector is discarded and as such terminal velocity is never reached. With the speed vector converted correct

[2017-03-14 22:25] hhirsch commented on #56
@Geertiebear Added the test case fd77cd730e4b39ba4990bc19103c59e7b578e223

[2017-03-16 10:50] Geertiebear commented on #56
Both of the checklist items work now.

[2017-03-20 10:49] hhirsch opened #71 "coverty support"
https://scan.coverity.com/projects/glportal-glportal/builds/new?tab=travis_ci

[2017-04-01 08:13] Geertiebear commented on #56
Closing this because teleportation works.

[2017-04-04 12:04] Geertiebear commented on #53
Can we close this? It works properly now.

[2017-04-04 12:45] willysr commented on #53
if the patch has been merged in master, this issue can be closed

[2017-04-04 12:59] hhirsch commented on #53
Yes. Current master will work with 2.86 and most older Bullet Versions

[2017-04-04 12:59] #53 closed

[2017-04-13 00:16] n4n0byte opened #73 "Project won't compile"
config: windows 10, using msys64
all of the dependencies listed on the project page were installed and
git submodule update --init --recursive
was also ran in the project directory

here is a link to the error:
 https://pastebin.com/E2Hzecqm

[2017-04-13 15:43] hhirsch commented on #73
@n4n0byte Hello. As in our previous conversation this is no issue I am familiar with. @GlPortal/push-developers does this make any sense to you?

[2017-04-13 18:51] SGOrava commented on #73
for some reason fpermissive is enabled

[2017-04-13 21:49] n4n0byte commented on #73
adding set(CMAKE_CXX_FLAGS "-fpermissive") to the cmakelists file in the root directory did not work, is there anything else to attempt changing the -fpermissive setting?

[2017-04-14 06:46] hhirsch commented on #73
@n4n0byte Did you run cmake ./ again after the change? The messages should still be there but downgraded to warnings.

[2017-04-26 03:00] hhirsch commented on #73
No news in 12 days. You are welcome to re-open if the problem persists.

[2017-04-26 03:00] #73 closed

[2017-05-13 04:28] priyananda opened #78 "Update documentation to include libfreeimageplus-dev as dependency"
I forked your project, and it was extremely easy to get it building and running - great job!

The only issue I faced was a build failure due to missing header <FreeImagePlus.h>. Turns out that libfreeimage-dev no longer includes the C++ header, which has been split into a separate package. The fix was as simple as 'apt-get install libfreeimageplus-dev'.

Can you please update the documentation to

[2017-05-13 04:56] hhirsch commented on #78
I've added instructions specifically for your Ubuntu version. Thank you for reporting this.

[2017-05-13 04:56] #78 closed

[2017-05-25 01:50] lastweakness opened #81 "Cannot Start on Arch Linux"
Hi,
The game does not start at all. It was installed using the glportal-git package in the Arch User Repository (AUR).

[code]

The backtrace from the dumped core is:

[code]

The core itself is:

[code]

I can provide more details should it be necessary.
Thanks for this awesome project

[2017-05-25 02:00] ElementW commented on #81
I use Arch to work on glPortal and didn't notice such a bug. Could you try building the game with (this debug PKGBUILD)[https://gist.github.com/ElementW/ec7de8599218cd8345a27423962352b2] so line numbers are included in the stack trace?

[2017-05-25 02:12] lastweakness commented on #81
ok. testing now. As a side-question, is wayland support possible?

[2017-05-25 02:45] ElementW commented on #81
AFAIK we have no X11-dependent code, so Wayland support is only up to SDL2, and the Arch SDL2 binaries have the Wayland backend enabled at compile time. Just pass the `SDL_VIDEODRIVER=wayland` env variable (https://wiki.archlinux.org/index.php/wayland#SDL).

[2017-05-25 02:46] lastweakness commented on #81
On Wayland, it crashes saying OpenGL version is 0.0 and is unsupported. Will try passing the environment variable.

[2017-05-25 02:48] lastweakness commented on #81
`E XmlScreenLoader  Failed to load element screen in /usr/share/glportal/data/screens/test.xml`

Would this cause a crash? and what is that?

[2017-05-25 02:49] ElementW commented on #81
Oh I forgot about OpenGL loading. The default OpenGL loader in use is `libepoxy` which should use EGL if available. If SDL2 creates a X11 window, I don't know if epoxy behaves correctly since it would be contained in a Xwayland server.

[2017-05-25 02:56] ElementW commented on #81
Yes this is indeed the cause, the function triggering that error returns a `nullptr` `Screen` shared pointer, hence the segfault: [RadixEngine/source/data/screen/XmlScreenLoader.cpp:L45](https://github.com/GlPortal/RadixEngine/blob/dae261a48e24de55d70711d52418f2722d9de34d/source/data/screen/XmlScreenLoader.cpp#L45).

The crash shall be fixed soon, however better error cause is to be expected, the

[2017-05-25 03:08] lastweakness commented on #81
Ok. I'm compiling now. WIll report soon.

[2017-05-25 03:22] ElementW commented on #81
302b35a92590dda782e754e2692817684769c694 + GlPortal/RadixEngine@e085d5b5eab51676339b6383672d69488896664c adds better error reporting; it's likely you just hit a "file not found" for some reason

[2017-05-25 03:33] lastweakness commented on #81
will running makepkg again also update the files?

[2017-05-25 03:41] lastweakness commented on #81
`/usr/share/glportal/data` has no folder called `screens`.
This is why it crashed. So, how do i fix it?

[2017-05-25 03:43] lastweakness commented on #81
`E XmlScreenLoader  loadScreen failed to load /usr/share/glportal/data/screens/test.xml: XML_ERROR_FILE_NOT_FOUND`

Error with latest git.

[2017-05-25 03:44] lastweakness commented on #81
`/usr/share/glportal/data/maps` has `test.xml` but `/usr/share/glportal/data/screens` is non-existent.

[2017-05-25 03:54] ElementW commented on #81
`/usr/share/glportal/data` not having `screens` is surprising since the reference to the data repo on the latest glPortal git points to a commit where it exists...

[2017-05-25 03:56] lastweakness commented on #81
Well, its a PKGBUILD error.

[2017-05-25 04:14] lastweakness commented on #81
It works.

[code]

Dirty hack to get it working.

[2017-05-25 04:30] lastweakness commented on #81
[Final PKGBUILD](https://gist.github.com/lastweakness/08c260f8531f10d40e6669736818e8aa)

[2017-05-25 05:10] hhirsch commented on #81
Did you update this on AUR https://aur.archlinux.org/packages/glportal-git/ or should we do it? Because then we should not close this before AUR is updated.

[2017-05-25 05:21] hhirsch commented on #81
We should realy put the stable branch on aur. The git master is not nice atm.

[2017-05-25 05:35] hhirsch commented on #81
The install target for the data should be fixed with 7c6c1e114873dbd08015aa36f9525b1098a9e45e

[2017-05-25 05:40] lastweakness commented on #81
This has been fixed with the last commits.

[2017-05-25 05:40] #81 closed

[2017-05-25 06:33] hhirsch opened #82 "New map every month"

[2017-05-25 07:06] Geertiebear commented on #65
If someone could fix portal renderer then that would be awesome because I can't for the life of me get it to work.

[2017-05-25 07:40] hhirsch commented on #65
@Geertiebear Do you have partial success that you can commit on a branch?

[2017-05-25 07:50] hhirsch commented on #65
@Geertiebear I have started splitting this task up into smaller tasks. I think it has to be cut into even smaller pieces. I am sure we get to the point where we determine some easy steps that we can take.

"How to eat an elephant?"
"One bite at a time."

[2017-05-25 08:05] Geertiebear commented on #65
I sadly don't, I can stop the renderer from crashing but it doesn't display anything. I think the best option here is to start from scratch, but I don't think I have the expertise to build the renderer myself.

[2017-05-25 14:36] hhirsch commented on #65
@Geertiebear Can you push your broken renderer to broken-portal-renderer or something like that.

[2017-05-27 16:59] Geertiebear commented on #65
Done

[2017-06-04 18:47] hhirsch opened #84 "Reduce complexity"
Due to **too optimistic merging** into the master branch by me it is in a broken state and populated with code of **high complexity**. To me it is very clear what went wrong and how we will avoid it in the future.

The **stable branch** is a compromise of a more modern client the main problem being **incomplete and unsolvable maps**.

The **last release** we had has **too few maps** and a very **s

[2017-06-05 05:42] hhirsch opened #85 "Roll back ECS"
We will roll back the ECS on master in favour of a simpler System that utilises multiple inheritance.

[2017-06-05 12:46] ElementW commented on #85
I've started work on that, I've created the [last-ecs@GlPortal/RadixEngine](/GlPortal/RadixEngine/tree/last-ecs) tag to know from where the work will start.

[2017-06-06 19:51] hhirsch opened #86 "Write changelog"
http://keepachangelog.com/en/0.3.0/

[2017-06-10 07:36] MrDh0nt opened #88 "compiling issues"
How do I succesfully compile this game for mac & linux? I've tried everything but nothing works :/

[2017-06-10 07:56] hhirsch commented on #88
@MrDh0nt You basically just follow https://github.com/GlPortal/glPortal/blob/master/COMPILE.md

[2017-06-10 07:58] #88 closed

[2017-06-18 20:35] DanielLowry commented on #67
Hi - looking to get involved in some open source projects (code in windows, mainly C# and a bit of C++ for a living).

Could you give a bit more information about this task?

Also, having an issue compiling, seems to be a missing file in source/data/texture/ - FreeImagePlus.h?  Pretty sure I have followed all the instructions - any reason why this would be missing?

Thanks!

[2017-06-19 04:17] hhirsch commented on #67
@DanielLowry Your version of freeimage seems to not contain freeimage plus. Can you try to find another package? Maybe there is one named freeimageplus.

[2017-06-20 19:56] DanielLowry opened #89 "Issue compiling in Linux Mint 18"
Manage to configure correctly, however get the following error when trying to run make:

/home/dan/SourceCodeDownloads/GLPortal/glPortal/external/RadixEngine/source/data/texture/TextureLoader.cpp:5:27: fatal error: FreeImagePlus.h: No such file or directory
compilation terminated.
external/RadixEngine/CMakeFiles/RadixEngine.dir/build.make:1286: recipe for target 'external/RadixEngine/CMakeFiles/Ra

[2017-06-20 21:29] SGOrava commented on #89
it looks like you need to install library freeimageplus

[2017-06-21 06:29] DanielLowry commented on #89
Yes, as mentioned above I tried this with 'sudo apt-get install libfreeimageplus3' but to no avail.  Any other suggestions/ways to install free image plus?

[2017-06-21 08:55] SGOrava commented on #89
for some distributions ... you need to install development packages ... `libfreeimageplus-dev`

[2017-06-22 01:23] ElementW commented on #89
The Mint 18 package is inherited from the Debian repositories and its dev package name is `libfreeimage-dev`. You might want to try that.

[2017-06-22 20:05] DanielLowry commented on #89
Worked a treat with the dev package, thanks!

[2017-06-22 20:05] #89 closed

[2017-06-22 20:08] DanielLowry commented on #67
Have this working now - can you please give a bit more info about the issue and I'll take a look.  Thanks!

[2017-06-25 18:16] hhirsch commented on #67
@DanielLowry I've added instructions to the issue. Let me know if it is still unclear. You can also work on refactoring with @wow2006 if this issue is too vague.

[2017-07-07 13:13] willysr opened #90 "glPortal won't build with GCC 7.1.0"
Hi,

i'm unable to build glPortal with GCC 7.1.0

here's the relevant build log :

[code]
Tested on Slackware-Current with these components
- GCC 7.1.0
- GLIBC 2.25
- unittest-cpp-2.0.0
- tinyxml2-5.0.0
- bullet3-2.86.1
- assimp-3.3.1

thanks

[2017-07-08 11:28] hhirsch commented on #90
@willysr Hi. I am still on 6.3.1

[2017-07-08 13:07] willysr commented on #90
Sure, no problem. I can wait.
that's a development snapshot for Slackware, which still long way before it reached mature state :)

[2017-09-03 08:53] hhirsch commented on #90
@willysr Current branch noecs should build with 7.1.1

[2017-09-03 09:13] willysr commented on #90
@hhirsch : Big thanks!!
mind to share the schedule to release a new tarball for this?
we normally used a released tarball for our scripts.

[2017-09-03 12:48] hhirsch commented on #90
@willysr Do you need an http url with the source and data? This might still take us until the second quarter of 2018.

[2017-09-03 13:31] willysr commented on #90
I can take a snapshot for this branch since it's supported by github. Are you planning to introduce more commits on this branch?

@hhirsch : Do you mind to leave this issue open until a new tarball is released?

Thanks

[2017-09-03 16:35] hhirsch commented on #90
@willysr Yes. Work is not done there. Gameplay elements are missing.

[2017-09-07 17:26] hhirsch opened #93 "New Map: Box Stacking"
Like n1 but you don't have surfaces that conduct portals and you have to build a ladder out of boxes.

[2017-09-09 12:07] gk7huki commented on #90
The stable branch doesn't build with GCC 7.1.1. This breaks the [glportal](https://aur.archlinux.org/packages/glportal/) AUR package on Arch Linux. Some headers are missing `#include <functional>`, so gcc is unable to resolve std::function, and it fails with the same build log as OP. I'll see if I can supply a patch for this.

[2017-09-09 13:22] hhirsch commented on #90
@gk7huki I am able to compile master and noecs branches with 7.1.1 so the release we are preparing will compile. 2 of our team are on arch. Myself included.

[2017-09-12 15:57] hhirsch commented on #71
This is not really important atm. since glportal does not have it's own tests.

[2017-09-12 15:57] #71 closed

[2017-09-14 11:13] hhirsch opened #95 "Delete Development Data"
This clearly belongs into the raw data repository if at all. Blend files of maps don't need to be there at all since blender is perfectly capable of reading our xml files https://github.com/GlPortal/glportal-data/tree/b6f4a7ed81e9833fe8b64eab30af5743d37b1574/dev

So only the files that are relevant have to be moved to the raw data repository and the rest has to be erased from history. As this oper

[2017-09-30 08:05] hhirsch commented on #90
@gk7huki @willysr noecs is merged into master so you should be able to build now.

[2017-09-30 08:22] willysr commented on #90
Big thanks!!!

[2017-09-30 08:39] hhirsch commented on #90
Stay tuned for our next release. It will be a while but there will be quite some improvements.

[2017-10-03 15:57] #85 closed

[2017-10-11 17:54] hhirsch opened #99 "Change team name"
Come to think of it Radix and variations of it would fit (RadixTeam).
Simply Radix would be nice imho. and good, too since we are no game studio so we don't need a clever name for advertising.

[2017-10-11 17:56] hhirsch opened #100 "Change Project name"
"Teleport", "Quant", "Transport", "Nudge", "Leap", "Conversion"

[2017-10-11 18:45] SGOrava commented on #100
"Hole", "Particle", "Dimension", "Core", "Destruction", "Atomic"

[2017-10-11 18:45] SGOrava commented on #99
"Void" > "Radix" > 'GlPortal' working title

[2017-10-12 15:32] Geertiebear commented on #100
QuantumTunnel

[2017-10-12 15:33] Geertiebear commented on #99
I vote for Radix too

[2017-10-12 15:42] ArnCarveris commented on #100
"Warp Space", "warp-ables", "warp-drive", "glWarp", "glWHole"

[2017-10-12 15:44] ElementW commented on #100
@ArnCarveris The goal is to get rid of that "gl" which is of technical origin and unoriginal. Especially considering the game might support Vulkan later on.

[2017-10-12 15:55] hhirsch commented on #100
I would like to base our title around the [teleportation paradox](https://en.wikipedia.org/wiki/Teletransportation_paradox).
So a title, combinations and fantasy words of the following building blocks could fit:
impermanence, non-being, non-self, Illusion of a Self, The end of I etc.

[2017-10-22 17:13] hhirsch opened #101 "skybox enrichment"
We need 3d-Models of low-res Skyscrappers and houses to enrich the skyboxes.

https://github.com/Sprytile/Sprytile will simplify the process of creating them.

[2017-10-23 16:54] Pr00bit commented on #95
HI there, I am new to open contribution, the task seems interesting. Is there any way I can support you with the issue?

[2017-10-23 16:56] hhirsch commented on #95
@Pr00bit Yes. It is basically just:
- [ ] Create a backup-repository
- [ ] Delete development data from history
- [ ] Force push

Creating the backup-repository now.

[2017-10-23 16:59] Pr00bit commented on #66
Hi there, I am new to open contribution. Task seems interesting, how I can support you with this?

[2017-10-23 17:02] hhirsch commented on #66
@Pr00bit
- [ ] Install the map-editor from the link
- [ ] Investigate and change existing maps to learn from them
- [ ] Create your own maps

[2017-10-23 17:05] Pr00bit commented on #95
Not sure how to proceed with : Delete development data from history :/

[2017-10-23 17:07] Pr00bit commented on #66
thanks for steps... going through them now :)

[2017-10-23 17:08] hhirsch commented on #95
@Pr00bit I am glad to explain. You see there are binary files in our data repository that are taking up a lot of space and they make cloning take long. By deleting them we can improve the speed of cloning but since this is git it is not enough to remove the files and commit it. We need to go back in history and remove the files from history so that they are really gone and stop taking up space.

[2017-10-23 17:14] Pr00bit commented on #95
I see, thanks for explanation. So where to start as I never done this :)

[2017-10-23 17:19] hhirsch commented on #95
There is no one true way to do it. There are several tools and commands.
There is though a huge repository of articles about it on the net like for example
https://rtyley.github.io/bfg-repo-cleaner/

[2017-10-23 17:33] Pr00bit commented on #95
thanks for that.

I am not sure but first would be creation of local copy of repo:
git clone --mirror https://github.com/GlPortal/glPortal.git

[2017-10-23 17:46] Pr00bit commented on #95
Ok, I have local copy. Over 45mb downloaded.
So now I have to delete the unnecessary files together with history :)
If you could describe names of files which should be removed ?:)

[2017-10-23 17:49] hhirsch commented on #95
@Pr00bit It is linked in the description. The dev directory. You can pack the whole thing and supply a download so I can put it up to bintray.

Also don't forget to push the unaltered code to the backup repo I've supplied.

[2017-10-23 17:58] Pr00bit commented on #95
Ok so I have downloaded whole directory to local:
https://github.com/GlPortal/glportal-data/tree/b6f4a7ed81e9833fe8b64eab30af5743d37b1574/dev

[2017-10-23 18:18] hhirsch commented on #95
@Pr00bit Can you give more information on where you are stuck? The checklist has good information but I will add as many additional bullet points as needed and answer any question that you might have.

[2017-10-23 18:22] Pr00bit commented on #95
thanks for your time

if I understand correctly, I should delete all files from DEV directory and then upload it back to Git repo site ? :)

[2017-10-23 18:28] Pr00bit commented on #95
regarding  Create an unaltered backup to another repository - I have already copy of repo on my pc, is this enoguh or should I create one more additional copy?

[2017-10-23 18:30] hhirsch commented on #95
No. The history of the files needs to be deleted. That is quite the difference as I've said before.

@Pr00bit This issue requires you to be comfortable with using git. If you don't feel very comfortable with git, force-pushing or rewriting history then you can still easily work on https://github.com/GlPortal/glPortal/issues/66

@Pr00bit As I have said the backup repository is https://github.com/Gl

[2017-10-23 18:32] hhirsch commented on #95
@Pr00bit Consider joining our chats. This way we can get to know each other and all the team members can help you out more easily.

[2017-10-23 18:33] Pr00bit commented on #95
OMG :) sounds to much for me....... I barely used GIT so far
Thanks for you assistance, I will fokus on #66 then :)

[2017-10-23 18:37] Pr00bit commented on #95
Sure I would like to join chats with you all, but not sure which chats you mean
Is there any separate chatting area, or you mean chats you chat under issues for example ? :)

[2017-10-23 18:40] hhirsch commented on #95
@Pr00bit This is our chat room https://gitter.im/GlPortal/glPortal I'll be offline, soon. But if you join there on a regular basis you can get to know the other team members and you'll get a feel for what you can do.

[2017-10-23 18:46] Pr00bit commented on #95
Thanks for this, I appreciate this. will look in the chat then

[2017-10-31 03:53] hhirsch opened #102 "Fix cppclean suggestions"
./external/RadixEngine/external/KHR/khrplatform.h:209: 'stdint.h' already #included on line 144
./external/RadixEngine/external/RadixEntity/include/RadixEntity/Entity.hpp:6: 'Method.hpp' does not need to be #included; use a forward declaration instead
./external/RadixEngine/external/RadixEntity/include/RadixEntity/Entity.hpp:7: 'Property.hpp' does not need to be #included; use a forward declaratio

[2017-11-02 04:43] hhirsch opened #104 "VS support"
These are some preserved patches
https://patch-diff.githubusercontent.com/raw/GlPortal/RadixEngine/pull/112.patch
https://patch-diff.githubusercontent.com/raw/GlPortal/glPortal/pull/103.patch
https://patch-diff.githubusercontent.com/raw/GlPortal/glportal-data/pull/12.patch

[2017-11-02 11:54] lostarious commented on #66
Hello , I am also new to open source projects but I would love to contribute to this project. Any help needed on this?

[2017-11-02 12:57] hhirsch commented on #66
@lostarious Yes. Help always welcome.

[2017-11-02 23:06] kungfooman commented on #104
I just couldn't see a solution which would fit every plattform yesterday and so the last PR was in end effect pointless.

E.g. I didn't wanna add the sources of all dependencies for Windows developers, when most linux distributions got a well maintained package system. Nor I wanna depend on third party tools to get things rollin (cmake, vcpkg, whatever). Every extra step of work (like installing c

[2017-11-03 12:05] wow2006 commented on #104
I suggest [ExternalProject](https://cmake.org/cmake/help/v3.1/module/ExternalProject.html) which will download prebuilt binaries for windows. This way we don't need external visual studio solution file to update every time we add new files.

[2017-11-07 19:16] hhirsch opened #106 "Check https://opencollective.com/"
https://opencollective.com/

[2017-11-10 17:33] mesosurface opened #107 "Provided VS 2017 solution doesn't compile"
The VS 2017 solution provided [here](https://bintray.com/glportal/generic/GlPortal-VS2017-Solution), which is horribly disfigured and malformed, does not compile. Not even in the suggested Release + x86 configuration.

Cheers.

[2017-11-10 18:22] hhirsch commented on #107
@mesosurface Thank you for reporting. We currently have somebody actively working on improving instructions and the solution for VS.

[2017-11-12 04:13] hhirsch commented on #107
@mesosurface The solution we provide did not change, so how is this solved?

[2017-11-17 10:08] kungfooman commented on #107
@mesosurface Still wanna try? Made a complete new solution: https://github.com/kungfooman/glportal-vs

[2017-11-24 16:24] hhirsch commented on #107
@mesosurface Re-Open if the problem still occurs.

[2017-11-24 16:24] #107 closed

[2017-11-25 01:07] hhirsch commented on #84
While this Epic is not really solved it is already shattered into million little issues that are all over our bug tracker.

[2017-11-25 01:07] #84 closed

[2017-11-25 01:07] hhirsch commented on #90
Please re-open if you can still reproduce the problem with current master.

[2017-11-25 01:07] #90 closed

[2017-11-26 09:36] #69 closed

[2017-11-26 09:37] hhirsch commented on #104
Herman has this covered.

[2017-11-26 09:37] #104 closed

[2017-12-01 17:48] serendipity5497 commented on #93
Hi, I would like to try this can you give more detailed explanation of the issue

[2017-12-01 19:05] hhirsch commented on #93
@serendipity5497 There are actually engine features missing at the moment that would make this map possible. My suggestion is that you get familiar with the map editor and try to get any map done with it and then we use that as a basis. For example later you could locate and add more map models. One thing usually leads to another.

[2017-12-12 18:43] hhirsch opened #117 "Create Beam campaign"
Beam is a campaign that contains very similar rooms that have differing contents.
It has increasingly more difficult platforming sections combined with teleportation puzzles.

[2018-01-02 20:52] alpha-Orionis commented on #95
@hhirsch If I try to push the unaltered code to the backup repository that you have supplied, it shows me that I don't have the permission to do so, so do I create a repository and push it to that or am I missing something?

[2018-01-02 21:02] hhirsch commented on #95
@alpha-Orionis Hello. Thank you for commenting. Currently in order to get that done you'd need to create pull requests. I have just created this branch in glportal-data https://github.com/GlPortal/glportal-data/tree/before-dev as yet another backup.

Make sure to add the history in the backup when you create your PR from your fork of https://github.com/GlPortal/data-backup

[2018-01-03 16:09] alpha-Orionis commented on #95
But this repository is empty thus forking is not available for https://github.com/GlPortal/data-backup repository.

[2018-01-03 16:11] hhirsch commented on #95
@alpha-Orionis No problem. Let me push the backup there quickly. Just a second.

[2018-01-03 16:38] hhirsch commented on #95
@alpha-Orionis Pushed to backup repository.

[2018-01-11 21:56] hhirsch opened #121 "Move game state to radix"

[2018-01-11 21:57] hhirsch opened #122 "Move most of Game.cpp to radix"

[2018-01-31 01:56] PiPerson opened #125 "Issue compiling on Linux Mint"
Hi,
When I try to compile from the source on Linux Mint, after following the instructions, when I run make I get the error:
[code]

How can I fix this?

[2018-01-31 04:15] hhirsch commented on #125
Hello,

I can not find freeimage in the Mint package search function but it is included in Debian stable https://packages.debian.org/stretch/libfreeimageplus-dev
Since I read that Mint is based on Debian you might be able to install the package from that site with dpkg.

You should also be able to compile freeimage from source and create a nice package with checkinstall http://freeimage.sourceforg

[2018-02-03 17:24] wow2006 commented on #65
- [ ] Rendering Stencil for recursive rendering
- [ ] Optimize rendering using object query and conditions rendering
- [ ] add player duplicate while between portals

[2018-02-03 17:29] wow2006 commented on #56
- [ ] Fire one portal make the player fall.
- [ ] Player change orientation after teleporting

[2018-02-09 07:29] moxvallix commented on #100
"Futility","end of why","self void" are a few, in a quite dark theme.

[2018-02-14 19:21] turlututututu opened #127 "Program crashes at the end of first level"
Hi everyone,
In the first level of the game, when I touch the door at the end of the level, the program crashes.
I get the following backtrace :

_#0  0x00007ffff5b455aa in std::__detail::_List_node_base::_M_unhook() () from /usr/lib/x86_64-linux-gnu/libstdc++.so.6
#1  0x00000000005f185b in std::__cxx11::list<std::function<void (radix::Event const&)>, std::allocator<std::function<void (radix::Even

[2018-02-15 09:05] Geertiebear commented on #127
What's the exit code?

[2018-02-15 15:44] wow2006 commented on #127
exit code 11

[2018-02-15 20:54] turlututututu commented on #127
It produced a segfault on my side

[2018-02-15 21:56] turlututututu commented on #127
echo $? after the crah give 139

[2018-02-16 05:33] hhirsch commented on #127
Can you do a git bisect to find which commit introduces the problem?

[2018-02-16 19:35] turlututututu commented on #127
Sure, I will try that tomorrow!

[2018-02-17 22:30] turlututututu commented on #127
As far as i can tell, the crash happens once the map of the second level has been loaded.

[2018-02-17 23:00] turlututututu commented on #127
It is mainly a guess, but I am under the impression that GameState is not reinitialized when loading a new map, so "splashCallbackHolder" might still contains an iterator which has become invalid since the use of a new world.

[2018-02-18 05:51] hhirsch commented on #127
@turlututututu Just because I can not replicate the problem can you tell me at which revision your data, glportal and radix checkouts are? How did you build? Are you on a Linux stack or something else? Did you run git bisect yet? @wow2006 Can you run git bisect to identify the breaking commit?

I can move to the second map freely.

[2018-02-18 06:16] hhirsch commented on #125
@PiPerson Did you try to install the package?

[2018-02-18 06:24] hhirsch commented on #56
@wow2006 Can you make a new issue for the two points you've mentioned and close this one?

[2018-02-18 09:16] turlututututu commented on #127
So the sha1 of the commit I'm based on is d92c142513b5121821f05f6688e786af56005f44
The RadixEngine is on  dfc1f7c146e2c83af11a2a0bd63f845042ea2b2c
data is on 2afd1e915c5fb1fc65294c32b6a3b690affeecc8
I am on linux mint 18.3 directly running on my laptop, no VM. The build is done through cmake/make.

[2018-02-18 10:43] turlututututu commented on #127
Regarding git bissect, the issues is data has been out sync for while, so the program crashes when trying to open test.xml, now I guess it should be possible to change data submodule while bissecting, but i then i would have to know the correct commit.

[2018-02-18 14:10] hhirsch commented on #127
@turlututututu But then it should already be fixed. I updated data a few days ago.

[2018-02-18 18:30] wow2006 opened #128 "Problem with portals"
- [x] Fire one portal make the player fall.
- [x]  Player change orientation after teleporting

[2018-02-18 18:30] #56 closed

[2018-02-18 21:59] turlututututu commented on #127
Hum, yeah I guess I could checkout the data directory while bissecting, I will try that later!

[2018-02-19 05:40] hhirsch commented on #127
@turlututututu I checked and you are running the exact same version as I do. I just can't reproduce the issue on my machine.

[2018-02-20 09:46] brylie opened #129 "Online multiplayer"
It would be really cool to work through some glPortal levels/puzzles with a friend. E.g. some puzzles could be designed so that two players need to work together to solve them. What are some ideas/tasks related to providing online multiplayer support for glPortal?

[2018-02-20 10:52] hhirsch commented on #129
@brylie I agree. Multiplayer is a great feature. We are currently working on some very basic single player issues. I project multiplayer far into the future because there is still so much work to be done in the single player and we don't have a lot of resources.
In the past I was approached by network devs and if anybody approaches me for network support I'd happily have him work on it. However be

[2018-02-20 10:55] brylie commented on #129
Out of curiosity, why build a bespoke game engine? Might it be worth the effort to port glPortal to an existing game engine, such as [Godot 3](https://godotengine.org/)?

[2018-02-20 11:58] hhirsch commented on #129
@brylie First of all because that is what I found when I first forked the project. It is also a fun and educational exercise. Since we don't have a deadline we can experiment and research to our hearts contend. There are plenty of faster ways to get a game done. But I don't want to put that kind of pressure on me in my free time. I am very interested in what makes a game engines tick and coding fr

[2018-02-21 09:14] brylie commented on #129
My email is brylie@gnumedia.org

[2018-02-21 19:49] turlututututu commented on #127
I will try a git bissect shortly, in the mean time, may I ask what compiler/version you are running?

[2018-02-21 22:00] turlututututu commented on #127
Okay so the issue seems to be the non initialization of `splashCallbackHolder` in `GameState::init`. Indeed, if I add :
`splashCallbackHolder = radix::EventDispatcher::CallbackHolder{};`
 at the end of the function, everything works fine.

To be fair, I don't completely understand what is happening, seems to me that it was never initialized, so I would expect a crash to happen at the first use, no

[2018-02-22 06:07] hhirsch commented on #127
@turlututututu Good find. Thanks for investigating. Do you want to create a PR?

[2018-02-22 19:56] turlututututu commented on #125
Hi, In my case (linux mint 18.3), a `sudo apt-get install libfreeimageplus-dev` did the trick!

[2018-02-22 20:02] PiPerson commented on #125
I did install the package and was able to compile successfully.
thanks for the help.
(sorry for the wait; my computer temporarily broke)

[2018-02-22 20:07] turlututututu commented on #127
Sure! How should I proceed? Is there any rules I should be aware of?

[2018-02-22 20:59] turlututututu commented on #128
Hello, just to be sure, are you referring to the fact that whatever your orientation be when you go through the portal you always end up as if you went through it head first?

Anyways, if nobody is on it, I would be glad to investigate one of those issues!

[2018-02-23 04:57] hhirsch commented on #125
Thanks guys.
Please leave this open so we can add this to the documentation.

[2018-02-23 04:59] hhirsch commented on #127
In this case if you create a fork, make the change and create a PR everything should be fine.

[2018-02-23 04:59] hhirsch commented on #128
@turlututututu Yes. Thank you.

[2018-02-24 13:29] #127 closed

[2018-02-24 18:53] turlututututu commented on #128
The interesting classes regarding this issue seem to be : `WorldHelper` and `PortalTeleport`. The issue is that orientation after teleporting is decided when the portal is constructed hence is independent of the player.

About the fall, I suspect action is default initialized to do nothing. So when hurting a wall, the teleportTrigger does nothing but since it is called it prevent the collision the

[2018-02-27 17:33] ao-rodrigues commented on #100
Since this [teleportation paradox](https://en.wikipedia.org/wiki/Teletransportation_paradox) is similar to the [Ship of Theseus](https://en.wikipedia.org/wiki/Ship_of_Theseus) thought experiment, I'd like to suggest "Theseum" or maybe "Thysium" as possible titles, both having that _sci-fi_ feel while simultaneously linking to the theme.

[2018-02-28 17:25] hhirsch commented on #65
@wow2006 Can your branch for this be merged?

[2018-03-01 06:01] hhirsch opened #134 "Convert old text format data into the new xml format"
Download https://bintray.com/glportal/glportal_releases/GlPortal/0.1-pre#files and see the maps in the data directory. Get aquainted with the new map format as specified here https://github.com/GlPortal/specification/tree/master/formats/map . For some examples look at the maps here https://github.com/GlPortal/glportal-data/tree/master/maps

Using the knowledge of how the map format has changed wri

[2018-03-02 16:17] Geertiebear commented on #128
Fixed with PR #135

[2018-03-02 18:30] Collaken commented on #134
I'm on it!

[2018-03-02 23:11] turlututututu commented on #128
While I agree the "fall when only one portal exists" is fixed, the orientation thing is still present, at least on side.  So why closing this issue?

[2018-03-03 04:40] hhirsch commented on #128
@turlututututu Can you clarify and say which steps to take to reproduce? The player exits the portal the way it is oriented, right?

[2018-03-03 10:16] turlututututu commented on #128
@hhirsch Yeah the player exits the portal the way the portal is oriented, it is totally independent of  the player orientation! Which means you can go into a portal backward or sideways, it does not matter, you will always exit as if you went head first in the portal!

Beside the player orientation, the angle between the player and the portal is not preserved. Ie if you approach the portal diagona

[2018-03-03 10:16] Geertiebear commented on #128
I understand the issue now and I agree.

[2018-03-04 08:47] JulianThijssen commented on #100
Ship of Theseus is a nice name.

[2018-03-10 05:23] hhirsch commented on #128
Fixed by #137

[2018-03-10 05:23] #128 closed

[2018-03-10 15:41] #134 closed

[2018-03-11 05:24] hhirsch opened #138 "Apply memleak patch"
[code]

[2018-03-11 05:49] #138 closed

[2018-03-11 05:58] hhirsch opened #139 "Improve existing maps"
Add map objects, fix glitches.

[2018-03-11 17:44] hhirsch opened #140 "Fix death trigger and game over screen"

[2018-03-12 16:57] saivikranth99 commented on #67
i want to resolve your issue

[2018-03-12 17:09] hhirsch commented on #67
@saivikranth99 Very nice. If you can compile the game you are half way to solving this issue. Don't forget to join our chats and ask here if anything is unclear.

[2018-03-17 18:51] RyanCargan opened #141 ""make run" failing on Arch Linux"
System info (uname -a output):
[code]
Using nvidia 390.42-2 proprietary drivers

All dependencies successfully installed

Relevant console output:
[code]
All console output:
[code]

[2018-03-17 22:33] hhirsch commented on #141
@RyanCargan I can reproduce this. I get the same error on arch since I updated a few days ago.

[2018-03-18 05:52] RyanCargan commented on #141
@hhirsch Do you remember the exact date of that arch update, and the last arch update you did before that? (Before the error?) Sorry if I'm being unhelpful, I'm a noob at this and can't make much sense of the error logs yet.

[2018-03-18 06:04] RyanCargan commented on #141
GLX is referring to the OpenGL extension to the X Window System right? Is the issue something related to a change in Arch's "xorg-server" package? It's last update was 2018-01-31 06:19 UTC.

[2018-03-18 06:40] RyanCargan commented on #141
Is `make run` working on other platforms?

[2018-03-18 07:52] hhirsch commented on #141
@RyanCargan I am using linux41-nvidia. What is puzzling me the most is that other OpenGL applications do run without problems. 0 other applications have this problem.
So far I've tried SDL_GetError() in a view locations. The only error message I was able to get was about controller input so I did disable controller input in my working copy temporarily and I don't get any more error messages. I am

[2018-03-18 08:05] RyanCargan commented on #141
@hhirsch Have you successfully compiled and run the program on Arch Linux before the update you're currently on? When was the last time it worked?

[2018-03-18 08:23] hhirsch commented on #141
I have last compiled and run GlPortal on 2018-03-10.

[2018-03-18 12:33] RyanCargan commented on #141
@hhirsch So that rules out an xorg-server update being the issue right? Since its last update was before 2018-03-10. It looks like the nvidia packages received several updates after 2018-03-10 though: https://www.archlinux.org/packages/?q=nvidia&sort=-last_update The only commit for the repo itself that might have come after the date you mentioned (2018-03-10) was turlututututu fixing #137 and tha

[2018-03-18 12:34] hhirsch commented on #141
@RyanCargan If you are brave enough, go for it.

[2018-03-18 12:42] nilspin commented on #141
@RyanCargan I can confirm, I get same error on both Nvidia and Intel GPUs on my laptop. So I don't think it is an xorg/device driver issue. Trouble within radix seems more likely(something like calling gl* function before context is properly created) because I fixed a similar bug that made program crash on exit - some gl* functions were being called after context deletion.
See if you can check for

[2018-03-20 19:50] hhirsch commented on #141
I did find a commit that still works for me but it is very old: d119f995ed1926c258275034b67408e43655b679

I will try to bisect my way to a newer commit.

[2018-03-20 19:58] hhirsch commented on #141
28b942afd16ebf8dec448056de491cb6b4994f78 also still good.

[2018-03-20 20:13] hhirsch commented on #141
Hmm. Bisect does not work so well. I do get some unrelated errors and thus bisect won't give me one single commit that broke the build.

[2018-03-20 20:22] hhirsch commented on #141
We can also painstakingly step through the code and see if there are gl calls before context creation.

[2018-03-20 20:23] hhirsch commented on #141
There is also a driver and xorg update that I'll try immediately.

[2018-03-20 20:46] hhirsch commented on #141
Update did not help. I did start to debug but was unable to find anything useful as of yet.

[2018-03-21 07:15] hhirsch commented on #141
I am closing in a bit
```(gdb) break BaseGame::setup()```

[2018-03-21 16:30] hhirsch commented on #141
Going to continue some other time. **ddd** is not very nice.

[2018-03-21 23:24] nilspin commented on #141
I started debugging it, and it is indeed confusing. After context is created in `radix::Window::create()` the first `gl` function called is `glGenBuffers` inside `PhysicsDebugDraw::VBO` - which is where the application crashes.

So I went in `Window.cpp`, changed context to `4.3`(to use newer debug mode) and tried to print the error using radix's own `gl::DebugOutput`. Guess what? application agai

[2018-03-22 05:49] hhirsch commented on #141
@nilspin Did you comment out the Physics Debug Draw? If I understand correctly then whatever gl-call comes first after context creation will crash.

Next thing I'll do is compare master with 28b942a (renderer working on current arch/manjaro) but the difference is probably the OpenGL Version. I consider porting this renderer to Radix since it is much more performant and feature complete.

[2018-03-22 18:07] nilspin commented on #141
Okay, I tried to find more about wayland on my system(from [here](https://fedoraproject.org/wiki/How_to_debug_Wayland_problems)) and seems I'm running X11 instead. Since rest of my OpenGL programs are running fine I am now even less sure it is driver/middleware issue.

[2018-03-22 18:55] hhirsch commented on #141
@RyanCargan We can't rule out xorg updates on the grounds that the game still ran for me on 2018-03-10 since I don't do daily updates.

[2018-03-23 01:56] lastweakness opened #142 "AUR Package Maintainence"
Hi,
I was the one who packaged the stable AUR package at first (glportal, not glportal-git). But unfortunately, i had to stop maintaining it and did not disown the package until today. I'm sorry for the inconvenience but it would be great if someone could adopt the package now.
Thanks

[2018-03-23 18:08] hhirsch commented on #141
Some more system updates today.

[2018-03-23 18:23] hhirsch commented on #141
I'll keep comparing with the old renderer. If all fails we need to package the old renderer and add it as a submodule into GlPortal.

[2018-03-23 20:28] hhirsch commented on #141
07ac40e is the first good commit I was able to find. This is still before the split.

[2018-03-24 05:45] hhirsch commented on #141
@nilspin @wow2006 @turlututututu @RyanCargan Can you check the Renderer at this 07ac40e? You'll see that it was a lot more feature complete and the performance was good. It probably used rad instead of quaternions but I'll be fine with that since the switch to quaternions never solved a problem we did have at the time. You think we should extract this renderer and make it work with current master?

[2018-03-24 13:00] turlututututu commented on #141
wow nearest working commit is  3 years old, that's depressing! Now since the new renderer will not support quaternions, we will need to convert quaternions to angles (which is the subject of an issue on radix engine). Anyway, I will check it.

[2018-03-24 16:25] hhirsch commented on #141
@turlututututu Used to work perfectly. Something in Arch has changed.

[2018-03-25 01:28] nilspin commented on #141
I think I figured out the problem(but not the solution). Running apitrace I got [this](https://imgur.com/ols03DS). Program crashes when libepoxy tries to internally call some mesa specific function. I tried switching to GLAD but it didn't work right out of the box, so we'll have to fix that as well.
I've posted this on the openGL forum, let's see what they can suggest.

[2018-03-26 10:39] lastweakness commented on #142
This relies on #141 being fixed, I guess.

[2018-03-29 13:57] IndominusRex commented on #66
Does this task still need to be done?

[2018-03-29 14:18] IndominusRex commented on #68
@hhirsch Is this still open/available to work on?

[2018-03-29 16:05] hhirsch commented on #66
@IndominusRex Yes. New maps always welcome.

[2018-03-29 16:06] hhirsch commented on #68
@IndominusRex This is fixed but could use some improved documentation.

[2018-03-31 10:02] wow2006 commented on #141
I replace glad with GLEW and game work "just for testing". same result as @nilspin. the problem with GLAD :+1:

[2018-04-04 19:01] hhirsch commented on #141
Some options: https://www.khronos.org/opengl/wiki/OpenGL_Loading_Library

[2018-04-05 18:25] nilspin commented on #141
I was not able to build with GLAD (I couldn't resolve few linker errors) so I gave up on it and went back to libepoxy. The `Couldn't find GLX or EGL context` error occurs from within libepoxy and not internal to OpenGL. I compiled radixengine with debug versions SDL and epoxy libraries and stepping my way through those libs. It seems the context is not built correctly because of which `glXGetProcA

[2018-04-07 01:36] nilspin commented on #141
So the issue is within libepoxy itself, since there are other users complaining about same issue as well. anholt/libepoxy#163 is the exact problem we have. I'll again try getting GLAD to work till the bug in epoxy is fixed.

[2018-04-20 16:39] hhirsch commented on #141
@nilspin fixed this in current Radix master.

[2018-04-20 16:39] #141 closed

[2018-04-20 20:57] hhirsch commented on #141
@RyanCargan Please try again!

[2018-05-05 05:12] #68 closed

[2018-05-31 20:50] JeffBusterCase opened #145 "Update dependencies or force use of up-to-date ones"
I'm trying to play the game on arch linux, but when I call `ldd portal` or just `./portal` the game asks for `libassimp.so.3` that I'm unable to install. The assimp 3 is not listed on `pacman -Ss assimp`, only assimp 4, that is already installed. The game really relies on libassimp.so.3, or is there a way to turn around this problem?

[2018-06-01 13:33] hhirsch commented on #145
@JeffBusterCase You can probably create a link assimp 4 to 3 and it will still work. I switched to arch myself now and I will compile the next release on it. But the next release will be quite some time.

[2018-06-03 19:56] ElementW commented on #142
Since I'm back and use Arch as a daily driver I could maintain it.

[2018-07-29 07:38] hhirsch opened #147 "2 fps when standing in the portal and looking around"
Possibly the bullet callback for the collision of the ghost objects is called too often.

[2018-08-17 15:20] ZipZapZop commented on #95
Hello, I'm new to open source development as well, but I'd like to help out with this issue. Hope I'm not too late! I forked [https://github.com/GlPortal/data-backup](url) as you recommended, and set about trying to delete the blender files from commit history with filter-branch. I ended up removing two files within dev/models/Map: n3.blend and n3.blend1. After pushing, I don't see them in my remo

[2018-08-26 18:49] hhirsch commented on #95
@ZipZapZop You have to use https://github.com/GlPortal/glportal-data as the base repository for your fork.

[2018-09-01 23:27] AhmedRedaAmin commented on #95
@hhirsch , Well hello , sounds like a fun little GIT excursion , also new to open source contribution here , I am just checking whether or not help is still needed , assuming you might have not updated the issue for a while .

[2018-09-02 12:05] hhirsch commented on #95
@AhmedRedaAmin I've made a mistake classifying this as a simple task this is much easier to do with admin permission to the repo.

Thank you all for your help in this issue. I am working on it now.
I hope to talk to you, soon through irc/gitter/slack or reddit.

[2018-09-02 12:55] #95 closed

[2018-09-02 12:55] AhmedRedaAmin commented on #95
No , thank YOU for the opportunity .

[2018-09-02 12:56] hhirsch commented on #95
Fixed with this code
[code]

And also tested.

[2018-09-02 13:01] AhmedRedaAmin commented on #95
`git for-each-ref --format="%(refname)" refs/original/ | xargs -n 1 git update-ref -d`
Could you please explain more about this line ? Especially after the pipe .

[2018-09-02 13:11] hhirsch commented on #95
@AhmedRedaAmin If I understand correctly this command removes the reference to the removed files in all the tags and branches. Before I used it the files where gone from master but *git clone* file transfer was still as big.

[2018-10-15 18:45] hhirsch opened #151 "Maps are not properly linked"
The maps should be linked the same way as in the last release.

[2018-10-15 18:54] hhirsch opened #152 "Add Cake-Room"
Add a level that has a cake and a sign on the wall that says "Thanks for playing. Hit q to quit"

[2018-10-17 10:31] hhirsch opened #153 "Portal Noise is missing"

[2018-12-17 14:43] hhirsch opened #154 "Make VS a first class citizen"
- [ ] Advertise for VS developers
- [ ] Host DLLs on Bintray
- [ ] Update glportal-vs
- [ ] Update Documentation
- [ ] Try VS for Linux

[2018-12-17 14:44] hhirsch commented on #154
@kungfooman This might be interesting to you. I'll give VS a spin myself and will advertise to find more VS devs.

[2018-12-29 09:32] kungfooman commented on #154
I would really like to, but I have so many other projects to work on (mostly gamedev-related aswell, but focus on WebGL). Maybe one day some stuff can be used together (like map editor based on id-software/q3radiant), for people who don't like Blender so much.

On another note, for some reason my Windows git fails to clone all submodules for glportal-vs:

[code]

[2019-01-04 17:25] caffeinum opened #157 "Validation Failed: No vertex array object bound. Mac OS X"
**Describe the bug**

Build worked fine, but running does not work: app shows only the black screen. Related: #156

Console shows this error:
[code]

<img src="https://user-images.githubusercontent.com/1909384/50695605-2d005200-104e-11e9-88a9-cc20e2efe1e4.png">

**To Reproduce**
Steps to reproduce the behavior:
1. clone on Mac OS X
2. build
3. run

**Expected behavior**
App runs OK.

**Desktop (pl

[2019-02-01 07:20] swapnildhalange commented on #66
@hhirsch I would like to contribute. Let me know if something to be done. I have 4+ years of experience in Borland C++. I am also flexible to learn new things if needed. My email: swapnildhalange@gmail.com

[2019-02-20 08:27] hhirsch opened #166 "Player texture missing"

[2019-03-05 16:44] hhirsch opened #167 "Clear Teams"
Hello @GlPortal/developers ,

I don't think we need the GlPortal developer team with write access on Github at the moment. With the little traffic in PRs we are having we might as well create the PRs from Forks instead of branches.

Your thoughts are appreciated.

[2019-03-05 17:40] #82 closed

[2019-03-05 17:41] #142 closed

[2019-03-06 06:03] hhirsch commented on #167
@GlPortal/developers Ping for visibility (I am not sure if Github sends out notifications for Tags in the Issue description)

[2019-03-06 17:38] #167 closed

[2019-03-06 20:15] #154 closed

[2019-05-22 19:30] MajickTek opened #168 "The game is way too sensitive."
**Describe the bug**
On windows with 0.005 sensitivity the game is wayyyyyy too fast.
When moving, the player movies at light speed and turns the head at light speed.
**To Reproduce**
Steps to reproduce the behavior:
1. download game from itch.io
2. run game
3. try to walk or turn the mouse

**Expected behavior**
The player walks around at normal speed.

**Screenshots**
none

**Desktop (please com

[2019-05-31 16:45] hhirsch commented on #168
Thank you for the report. In this old version the game simulation is tied to the frame rate which is bad and leads to the effect. I'll see if I can either fix current master or roll back to a releasable version. I don't have a time line for it though. Thank you very much for the report.

[2019-11-28 18:34] hhirsch opened #177 "Disable Avatar"
I thought it would be nice to have an avatar to represent the player.
The token model might be nice for that. However there was a texture bug with the token.

Maybe the best option would be to return it to the original state without a player model at all.

[2020-10-10 10:30] aj-sapkota commented on #157
anyone got solution of this?

[2020-10-10 21:31] donno2048 opened #179 "File data\main.cfg not found."
When I try to run the exe I get:
[code]

[2020-10-11 05:24] hhirsch commented on #179
@donno2048 Thank you for the report. Where did you download the build?

[2020-10-11 09:09] donno2048 commented on #179
From the link to itch.io in the downloads section in the website

[2020-11-19 11:04] MarinoHappiness opened #180 "Could NOT find Assimp"
Hello,

Build fails with the following message:

[code]

Thank you,
Marino

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Linux Mint
 - Version  20 Ulyana

[2020-11-19 13:33] hhirsch commented on #180
@MarinoHappiness Sorry, default question, did you install assimp & assimp-dev (or similar packages) in the package manager.

[2020-11-20 09:41] MarinoHappiness commented on #180
@hhirsch, after installing several required packages, the build was successfully completed.

Now I have issues with the "make" command. At 61% the build process terminates with the following error report.

[code]

- "Nema takve datoteke ili direktorija" stands for "No such file or directory".
- "Greška" stands for "Error".

[2020-11-20 09:54] MarinoHappiness commented on #180
Yes, after installing all required packages, the build completed with no errors.

[2020-11-20 16:01] #180 closed

[2020-12-14 17:44] FreshSupaSulley commented on #157
I'm programming OpenGL in Java, not C++, but it should be the same concept. You can't validate your shader if you haven't assigned a VAO to the shader. glValidateProgram() checks whether the "executables contained in the program [shader] can execute given the current OpenGL state." If you haven't assigned a VAO to the shader, it can't validate because there's no VAO to check. Bind your VAO with gl

[2021-09-08 14:09] jatingupta30 commented on #67
hi @hhirsch , i am a beginner in open source projects. I want to give my best and want to contribute in these open source projects. can you help me in this

[2021-09-08 15:03] koutoftimer opened #182 "Compilation error ‘runtime_error’ is not a member of ‘std’ commit 50298e61f22503b8f74d4e44cdebc08d7532a4c"
**Describe the bug**
Compilation error.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Follow steps from `COMPILE.md`
2. You will get an error during `make`

**Desktop (please complete the following information):**
[code]

**Additional context**
Add any other context about the problem here.

[2021-09-08 16:29] hhirsch commented on #67
If the game builds/runs for you then you should be able to test this. But some reports came in about building problems.

[2021-10-01 14:13] Tekh-ops opened #183 "make error in M1 Mac"
**Describe the bug**

clang: error: unsupported argument '-mimplicit-it=always' to option 'Wa,'
make[2]: *** [external/RadixEngine/external/AngelScript/sdk/angelscript/projects/cmake/CMakeFiles/angelscript.dir/__/__/source/as_callfunc_arm_gcc.S.o] Error 1
make[1]: *** [external/RadixEngine/external/AngelScript/sdk/angelscript/projects/cmake/CMakeFiles/angelscript.dir/all] Error 2
make: *** [all] E

[2022-02-17 14:05] donno2048 commented on #179
Stale

[2022-09-19 19:57] MuriloucoLouco commented on #182
You can fix it by adding `#include <stdexcept>` in `glPortal/external/RadixEngine/source/data/screen/XmlScreenLoader.cpp`

[2022-09-19 20:18] hhirsch commented on #182
@MuriloucoLouco Thank you, I will patch this. If I forget, just ping me here again.

[2022-09-20 15:41] koutoftimer commented on #182
@MuriloucoLouco
[code]
Looks like all errors are about RadixEngine. Let me know if it is wrong place to report such issues.